----CREATE DB ShoppingCart----
CREATE DATABASE shoppingcart
Go
Use shoppingcart
----CREATE TABLE Role----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN Role TABLE----
INSERT INTO Role(RoleName) VALUES ('Admin')
INSERT INTO Role(RoleName) VALUES ('Employee')
INSERT INTO Role(RoleName) VALUES ('Member')
----CREATE TABLE CardType----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CardType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CardType](
	[CardTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CardTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CardType] PRIMARY KEY CLUSTERED 
(
	[CardTypeId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN CardType TABLE----
INSERT INTO CardType(CardTypeName) VALUES ('Master Card')
INSERT INTO CardType(CardTypeName) VALUES ('Visa Card')
INSERT INTO CardType(CardTypeName) VALUES ('Amex Card')
----CREATE TABLE FeedBackType----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeedBackType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FeedBackType](
	[FeedTypeId] [int] IDENTITY(1,1) NOT NULL,
	[FeedTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FeedBackType] PRIMARY KEY CLUSTERED 
(
	[FeedTypeId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN FeedBackType TABLE----
INSERT INTO FeedbackType(FeedTypeName) VALUES ('FAQ')
INSERT INTO FeedbackType(FeedTypeName) VALUES ('Feedback')
----CREATE TABLE PaymentType----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PaymentType](
	[PayTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PayTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pay] PRIMARY KEY CLUSTERED 
(
	[PayTypeId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN PaymentType TABLE----
INSERT INTO PaymentType(PayTypeName) VALUES ('Cheque')
INSERT INTO PaymentType(PayTypeName) VALUES ('Demand Draft')
INSERT INTO PaymentType(PayTypeName) VALUES ('Credit Card')
----CREATE TABLE Country----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Country]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN Country TABLE----
INSERT INTO Country (CountryName) VALUES ('Afghanistan')
INSERT INTO Country (CountryName) VALUES ('Albania')
INSERT INTO Country (CountryName) VALUES ('Algeria')
----CREATE TABLE StatusUser----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StatusUser](
	[StatusUserId] [int] IDENTITY(1,1) NOT NULL,
	[StatusUserName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusUser] PRIMARY KEY CLUSTERED 
(
	[StatusUserId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN StatusUser TABLE----
INSERT INTO StatusUser(StatusUserName) VALUES ('Active')
INSERT INTO StatusUser(StatusUserName) VALUES ('Inactive')
----CREATE TABLE StatusDelivery----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusDelivery]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StatusDelivery](
	[StatusDeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[StatusDeliveryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusDelivery] PRIMARY KEY CLUSTERED 
(
	[StatusDeliveryId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN Status Delivery TABLE----
INSERT INTO StatusDelivery(StatusDeliveryName) VALUES ('New')
INSERT INTO StatusDelivery(StatusDeliveryName) VALUES ('Undone')
INSERT INTO StatusDelivery(StatusDeliveryName) VALUES ('Done')
----CREATE TABLE DeliveryType----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeliveryType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DeliveryType](
	[DeliveryId] [char](1) NOT NULL,
	[DeliveryName] [nvarchar](50) NOT NULL,
	[DeliveryCost] [decimal](18, 0) NULL,
 CONSTRAINT [PK_DeliveryType] PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN DeliveryType TABLE----
INSERT INTO DeliveryType(DeliveryId,DeliveryName,DeliveryCost) VALUES ('1','Post Office','50')
INSERT INTO DeliveryType(DeliveryId,DeliveryName,DeliveryCost) VALUES ('2','Manually','0')
INSERT INTO DeliveryType(DeliveryId,DeliveryName,DeliveryCost) VALUES ('3','EMS','100')
----CREATE TABLE StatusPaid----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StatusPaid]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StatusPaid](
	[StatusPaidId] [int] IDENTITY(1,1) NOT NULL,
	[StatusPaidName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusPaid] PRIMARY KEY CLUSTERED 
(
	[StatusPaidId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN StatusPaid TABLE----
INSERT INTO StatusPaid(StatusPaidName) VALUES ('Not pay')
INSERT INTO StatusPaid(StatusPaidName) VALUES ('Paid')
----CREATE TABLE Category----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Category](
	[CatId] [varchar](2) NOT NULL,
	[CatName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CatId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN Category TABLE----
INSERT INTO Category(CatId,CatName) VALUES ('11','Doll')
INSERT INTO Category(CatId,CatName) VALUES ('22','Hand Bags')
INSERT INTO Category(CatId,CatName) VALUES ('33','Soap')
----CREATE TABLE User----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[RoleId] [int] NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN User TABLE----
INSERT INTO [User](Username,Password,Fullname,Gender,Address,Email,RoleId,PhoneNumber,StatusId)
	VALUES ('admin','admin','Nguyen Huu Sang','Female','56/7 Bui Minh Truc','zlshanglz@yahoo.com',1,'01265375101',1)
INSERT INTO [User](Username,Password,Fullname,Gender,Address,Email,RoleId,PhoneNumber,StatusId)
	VALUES ('employee','employee','Pham Hong Tam','Female','next into Viet address','ketuhanh27989@yahoo.com',2,'0906024094',1)
INSERT INTO [User](Username,Password,Fullname,Gender,Address,Email,RoleId,PhoneNumber,StatusId)
	VALUES ('member1','member1','Tran Phan Quoc Hai','Male','14 Nguyen Trong Tri','cltbquochai@yahoo.com',3,'0919097097',1)
----CREATE TABLE PaymentDetail----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentDetail]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PaymentDetail](
	[PayDetailId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](50) NOT NULL,
	[CardTypeId] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[ReleaseDate] [datetime] NULL,
	[ReleasePlace] [nvarchar](max) NULL,
	[BankName] [nvarchar](max) NULL,
	[Account] [nvarchar](max) NULL,
	[Pay] [decimal](18, 0) NULL,
	[PayPlace] [nvarchar](max) NULL,
	[PayWay] [nvarchar](max) NULL,
	[ExpirationDate] [datetime] NULL,
	[DrawerName] [nvarchar](50) NULL,
	[PayerName] [nvarchar](50) NULL,
	[CCNumber] [nvarchar](50) NULL,
	[CVV] [nvarchar](50) NULL,
	[SecurityNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentDetail] PRIMARY KEY CLUSTERED 
(
	[PayDetailId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN PaymentDetail TABLE----
INSERT PaymentDetail(PaymentName,Title,ReleaseDate,ReleasePlace,BankName,Account,Pay)
VALUES('Cheque','Return for Tam',getdate(),'United Kingdom','Bank of England','11111',1000)

----CREATE TABLE Feedback----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedback]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Feedback](
	[FeedId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[FeedTypeId] [int] NULL,
	[DateWrite] [datetime] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN Feedback TABLE----
INSERT INTO Feedback(Question,Answer,UserId,FeedTypeId,DateWrite) VALUES ('How to buy online your product','It is very simple',1,1,getdate())
INSERT INTO Feedback(Question,Answer,UserId,FeedTypeId,DateWrite) VALUES ('How to use your search feature','It is very simple',1,1,getdate())

INSERT INTO Feedback(Question,Answer,UserId,FeedTypeId,DateWrite) VALUES ('I am very satisfy with your service','Thank You Very Much',3,2,getdate())
----CREATE TABLE Order----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Order]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[PayDetailId] [int] NULL,
	[DeliveryId] [char](1) NOT NULL,
	[UserIdShip] [int] NULL,
	[UserIdCheck] [int] NULL,
	[PayTypeId] [int] NOT NULL,
	[CustId] [int] NOT NULL,
	[ShippingDate] [datetime] NULL,
	[StatusPaidId] [int] NOT NULL,
	[StatusDeliveryId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ReceiverFullname] [nvarchar](50) NOT NULL,
	[ReceiverAddress] [nvarchar](50) NOT NULL,
	[ReceiverPhone] [varchar](15) NOT NULL,
	[CountryId] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Zipcode] [nvarchar](5) NOT NULL,
	[TotalCost] [decimal](18, 0) NOT NULL,
	[ExtraMoney] [decimal](18, 0) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Delivery_1] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN Order TABLE----
INSERT [Order]
(
	PayDetailID,DeliveryId,PayTypeId,
	CustId,StatusPaidId,StatusDeliveryId,
	OrderDate,ReceiverFullname,ReceiverAddress,
	ReceiverPhone,CountryId,City,
	State,ZipCode,TotalCost
)
VALUES
(
	1,1,1,
	4,1,1,
	getdate(),N'Thay Hoa','HungVuongAptech',
	'2342423',1,'Las Vegas',
	'Texa','1234',1050			
)
----CREATE TABLE OrderItem----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItem]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [varchar](16) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [varchar](7) NOT NULL,
	[OrderQuantity] [int] NOT NULL,
	[ExWarrantyDate] [datetime] NULL,
	[Status] [char](1) NOT NULL,
	[ProductReplace] [varchar](7) NULL,
	[QuantityReplace] [int] NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN OrderItem TABLE----
INSERT INTO OrderItem(OrderItemId,OrderId,ProductId,OrderQuantity,ExWarrantyDate,Status) VALUES('1000000100000001',1,'0000001',1,DateAdd(dd,365,Getdate()),'A')
INSERT INTO OrderItem(OrderItemId,OrderId,ProductId,OrderQuantity,ExWarrantyDate,Status) VALUES('1000000200000001',1,'0000002',1,DateAdd(dd,365,Getdate()),'A')
INSERT INTO OrderItem(OrderItemId,OrderId,ProductId,OrderQuantity,ExWarrantyDate,Status) VALUES('1000000300000001',1,'0000003',1,DateAdd(dd,365,Getdate()),'A')
----CREATE TABLE Product----
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Product](
	[ProductId] [varchar](7) NOT NULL,
	[CatId] [varchar](2) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[WarantyDay] [int] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
----INSERT DATA IN Product TABLE----
INSERT INTO Product(ProductId,CatId,ProductName,Price,Description,WarantyDay,Image,Quantity) VALUES ('0000001','11','American doll','500','Very beautiful','365','','100')
INSERT INTO Product(ProductId,CatId,ProductName,Price,Description,WarantyDay,Image,Quantity) VALUES ('0000002','11','Janpan doll','300','Very beautiful','365','','100')
INSERT INTO Product(ProductId,CatId,ProductName,Price,Description,WarantyDay,Image,Quantity) VALUES ('0000003','11','China doll','200','Very beautiful','365','','100')










SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[UserStatusRole]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[UserStatusRole]
AS
SELECT     dbo.[User].UserId, dbo.[User].Username, dbo.[User].Password, dbo.[User].Fullname, dbo.[User].Gender, dbo.[User].Address, dbo.[User].Email, 
                      dbo.[User].PhoneNumber, dbo.StatusUser.StatusUserName, dbo.Role.RoleName, dbo.[User].RoleId, dbo.[User].StatusId
FROM         dbo.Role INNER JOIN
                      dbo.[User] ON dbo.Role.RoleId = dbo.[User].RoleId INNER JOIN
                      dbo.StatusUser ON dbo.[User].StatusId = dbo.StatusUser.StatusUserId
' 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Role"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 101
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "User"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 125
               Right = 406
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "StatusUser"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 101
               Right = 422
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'VIEW', @level1name=N'UserStatusRole'

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'VIEW', @level1name=N'UserStatusRole'

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[ProductCategory]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[ProductCategory]
AS
SELECT     dbo.Product.*, dbo.Category.CatName
FROM         dbo.Category INNER JOIN
                      dbo.Product ON dbo.Category.CatId = dbo.Product.CatId
' 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Category"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 95
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Product"
            Begin Extent = 
               Top = 6
               Left = 236
               Bottom = 125
               Right = 396
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'VIEW', @level1name=N'ProductCategory'

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'VIEW', @level1name=N'ProductCategory'

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_Role]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_StatusUser]') AND parent_object_id = OBJECT_ID(N'[dbo].[User]'))
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_StatusUser] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusUser] ([StatusUserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PaymentDetail_CardType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PaymentDetail]'))
ALTER TABLE [dbo].[PaymentDetail]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetail_CardType] FOREIGN KEY([CardTypeId])
REFERENCES [dbo].[CardType] ([CardTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Feedback_FeedBackType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feedback]'))
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_FeedBackType] FOREIGN KEY([FeedTypeId])
REFERENCES [dbo].[FeedBackType] ([FeedTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Feedback_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feedback]'))
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_Country]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_DeliveryType]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_DeliveryType] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[DeliveryType] ([DeliveryId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_Payment]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([PayTypeId])
REFERENCES [dbo].[PaymentType] ([PayTypeId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_PaymentDetail]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentDetail] FOREIGN KEY([PayDetailId])
REFERENCES [dbo].[PaymentDetail] ([PayDetailId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_PaymentDetail1]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentDetail1] FOREIGN KEY([PayDetailId])
REFERENCES [dbo].[PaymentDetail] ([PayDetailId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_StatusDelivery]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StatusDelivery] FOREIGN KEY([StatusDeliveryId])
REFERENCES [dbo].[StatusDelivery] ([StatusDeliveryId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_StatusPaid]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StatusPaid] FOREIGN KEY([StatusPaidId])
REFERENCES [dbo].[StatusPaid] ([StatusPaidId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_User5]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User5] FOREIGN KEY([UserIdShip])
REFERENCES [dbo].[User] ([UserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_User6]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User6] FOREIGN KEY([UserIdCheck])
REFERENCES [dbo].[User] ([UserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_User7]') AND parent_object_id = OBJECT_ID(N'[dbo].[Order]'))
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User7] FOREIGN KEY([CustId])
REFERENCES [dbo].[User] ([UserId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderItem_Order]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderItem]'))
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderItem_Product]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderItem]'))
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OrderItem_ProductReplace]') AND parent_object_id = OBJECT_ID(N'[dbo].[OrderItem]'))
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_ProductReplace] FOREIGN KEY([ProductReplace])
REFERENCES [dbo].[Product] ([ProductId])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_Category]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([CatId])

-----CREATE INDEX 
CREATE UNIQUE INDEX IX_User_Username ON [User](Username)
CREATE UNIQUE INDEX IX_Order_PayDetailId ON [Order](PayDetailId)
